body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #f6d365 0%, #de87d1 100%);
    font-family: 'Arial', sans-serif;
    width: 100%;
  }
  
  .container {
    text-align: center;
    padding: 2em;
    border-radius: 25px;
    background: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12), 0 5px 5px rgba(0, 0, 0, 0.23);
    transform: translate(-50%, -50%);
    position: absolute;
    top: 50%;
    left: 50%;
  }
  
  .title {
    font-size: 3rem;
    color: #333;
  }
  
  .subtitle {
    font-size: 1.25rem;
    margin: 1rem 0 2rem 0;
    color: #555;
  }
  
  .buttons {
    position: relative;
  }
  
  button {
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s, transform 0.3s ease-in-out;
    margin: 0 10px;
  }
  
  .yes {
    background-color: #ff7e67;
    color: white;
  }
  
  .no {
    background-color: #57a6ff;
    color: white;
  }
  